#mask-test-wrapper {
  margin: 1em auto;	
  text-align: center;
}
#svgWrapper {
  margin: 1em auto;
  /* transform: translate(0px, 0px); */
  text-align: center;
  border: 1px solid green;
}
.svg-container {
  display: inline-block;
  text-align: center;
  margin: 0.5em 1.5em;
}
.svg-container label {
  display: block;
  margin: 0.5em auto;
}
.svg-container svg {
  border: 1px dashed gold;
  width: 200px;
  height: 200px;
}
.startBtn {
  display: inline-block;
  outline: none;
  cursor: pointer;
  font-size: 14px;
  line-height: 1;
  border-radius: 50px;
  transition-property: background-color,border-color,color,box-shadow,filter;
  transition-duration: .3s;
  border: 1px solid transparent;
  letter-spacing: 2px;
  min-width: 160px;
  text-transform: uppercase;
  white-space: normal;
  font-weight: 700;
  text-align: center;
  padding: 17px 48px;
  margin: 1em auto;
  color: #fff;
  background-color: #FF5000;
  height: 48px;
  :hover{
    transform: scale(1.04);
    background-color: #21e065;
  }
}
.startBtnFuchsia {
  background-color: #EA4FF8;
}